@import "reset.css";

@import "variables.css";

@import "hero.css";


@import "footer.css";


h1{
    font-size: 24px;
    
}

.login{
    margin: 20px 500px ;

}
.login-container{
    padding: 25px;
}


.serie-imagen {
    width: 100px; 
    height: 150px; 
    object-fit: cover; 
}
.series-imagen{
    height: 500px; 
    object-fit: cover;
}
